<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #chengdu_map {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/leaflet/1.7.1/leaflet.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>TTE Web APP</title>

</head>

<body>
    <button onclick="showSupersegment()">show supersegment</button>

    <!-- <button onclick="get_matched_roads()">show matched roads</button> -->

    <select id="point1" onchange="showStartMarker()">
        <option selected="selected" disabled="disabled"  style="display: none" value=""></option>
    </select>

    <button onclick="getReachablePoints()">query reachable points</button>

    <select id="point2" onchange="showEndMarker()"></select>

    <button onclick="getDistance(); showRoads()">get distance</button>

    <label id="dist"></label>

    <button onclick="getTTE()">get TTE</button>

    <label id="tte"></label>

    <label id="p1"></label>
    <label id="p2"></label>

    <div class="folium-map" id="chengdu_map"></div>
</body>

<script>
    let a = 0;
    let move = false;
    let pointer1 = null;
    let pointer2 = null;

    let tile = L.tileLayer(
        "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=7&x={x}&y={y}&z={z}",
        {
            attribution: "Gao De Map",
        }
    );

    let baseLayers = {
        "StreetMap": tile
    };

    let overLays = {};

    const chengdu_map = L.map(
        "chengdu_map",
        {
            center: [30.6669, 104.0655],
            crs: L.CRS.EPSG3857,
            zoom: 12,
            zoomControl: true,
            preferCanvas: false,
            layers: [tile]
        }
    );

    let ctrl = L.control.layers(baseLayers, null);
    ctrl.addTo(chengdu_map);

    function newMarker(e) {
        if (a === 2) {
            return;
        }
        a++;
        const new_mark = L.marker().setLatLng(e.latlng).addTo(chengdu_map);
        new_mark.dragging.enable();
        if (pointer1 == null) {
            new_mark._index_ = 1;
            pointer1 = new_mark;
        } else {
            new_mark._index_ = 2;
            pointer2 = new_mark;
        }
        new_mark.on('dblclick', function (e) {
            chengdu_map.removeLayer(e.target)
            document.getElementById('p' + new_mark._index_).innerText = "";
            if (new_mark._index_ === 1) {
                pointer1 = null;
            } else {
                pointer2 = null;
            }
            a--;
        })
        new_mark.on('mousemove', function (e) {
            if (move)
                document.getElementById('p' + new_mark._index_).innerText = "(" + e.latlng.lat.toFixed(4) + "," + e.latlng.lng.toFixed(4) + ")";
        })
        new_mark.on('mouseup', function () {
            move = false
        })
        new_mark.on('mousedown', function () {
            move = true
        })
        const lat = e.latlng.lat.toFixed(4),
            lng = e.latlng.lng.toFixed(4);
        new_mark.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng);
        document.getElementById('p' + new_mark._index_).innerText = "(" + lat + "," + lng + ")";
    }

    // chengdu_map.on('click', newMarker);

    function showSupersegment() {
        $.getJSON("/show_supersegment").done(
            function(data) {
                let supersegment_layer = L.geoJson(
                    data,
                    {
                        style: function(feature) {
                            return {
                                color: 'blue',
                                // "weight": 3,
                                // "opacity": 0.85
                            };
                        }
                    }
                );
                supersegment_layer.addTo(chengdu_map);
                overLays.Supersegment = supersegment_layer;

                ctrl.remove();
                ctrl = L.control.layers(baseLayers, overLays);
                ctrl.addTo(chengdu_map);
            }
        )
    }

    function getPoints() {
        $.getJSON("./get_points").done(
            function(data) {
                // console.log(data)
                let str = "";
                for (let i = 0; i < 500; i++) {
                    str = "<option value=\""+data[i]+"\">" + data[i] +" </option>";
                    document.getElementById("point1").innerHTML += str;
                    // console.log(document.getElementById("point1").innerHTML);
                }
            }
        )
    }

    window.onload(getPoints());

    const selected = "<option selected=\"selected\" disabled=\"disabled\"  style=\"display: none\" value=\"\"></option>";

    function getReachablePoints() {
        coord = $("#point1 option:selected").val();
        // console.log(coord);

        $.getJSON("./get_reachable_points", {"p1": coord}).done(
            function(data) {
                // console.log(data)
                document.getElementById("point2").innerHTML = null;
                let str = "";
                for (let i = 0; i < data.length; i++) {
                    str = "<option value=\"" + data[i]+"\">" + data[i] + "</option>";
                    document.getElementById("point2").innerHTML += str;
                    // console.log(document.getElementById("point2").innerHTML);
                }
                showEndMarker();
            }
        )
    }

    let distance = null;

    function getDistance() {
        coord = $("#point2 option:selected").val();
        // console.log(coord);

        $.getJSON("./get_distance", {"p2": coord}).done(
            function(data) {
                // console.log(data);
                this.distance = data + "m";
                document.getElementById("dist").innerHTML = this.distance;
            }
        )
    }

    let tte = null;

    function getTTE() {
        $.getJSON("./TTE").done(
            function(data) {
                this.tte = data + "s";
                document.getElementById("tte").innerHTML = this.tte;
            }
        )
    }

    function showRoads() {
        if (overLays.Path)
            chengdu_map.removeLayer(overLays.Path);

        $.getJSON("./show_roads").done(
            function(data) {
                let matched_road_layer = L.geoJson(
                    data,
                    {
                        style: function(feature) {
                            return {
                                color: 'red',
                                // "weight": 3,
                                // "opacity": 0.85
                            };
                        }
                    }
                );
                matched_road_layer.addTo(chengdu_map);
                overLays.Path = matched_road_layer;

                ctrl.remove();
                ctrl = L.control.layers(baseLayers, overLays);
                ctrl.addTo(chengdu_map);
            }
        )
    }

    let goldIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    let startMarker = null;
    let endMarker = null;

    function showStartMarker() {
        coord = $("#point1 option:selected").val();
        coord = coord.split(",");
        let lng = Number(coord[0]);
        let lat = Number(coord[1]);

        if (this.startMarker == null)
            this.startMarker = L.marker([lat, lng]).addTo(chengdu_map);
        else
            this.startMarker.setLatLng([lat, lng]);
    }

    function showEndMarker() {
        coord = $("#point2 option:selected").val();
        coord = coord.split(",");
        let lng = Number(coord[0]);
        let lat = Number(coord[1]);

        if (this.endMarker == null)
            this.endMarker = L.marker([lat, lng]).addTo(chengdu_map);
        else
            this.endMarker.setLatLng([lat, lng]);
    }

    // // deprecated
    // function get_matched_roads() {
    //     let p1 = pointer1.getLatLng();
    //     let p2 = pointer2.getLatLng();
    //     $.getJSON("/road_match", {"lat1": p1.lat, "lng1": p1.lng, "lat2": p2.lat, "lng2": p2.lng}).done(
    //         function(data) {
    //             let matched_road_layer = L.geoJson(
    //                 data,
    //                 {
    //                     style: function(feature) {
    //                         return {
    //                             color: 'red',
    //                             // "weight": 3,
    //                             // "opacity": 0.85
    //                         };
    //                     }
    //                 }
    //             );
    //             matched_road_layer.addTo(chengdu_map);
    //             overLays.MatchedRoads = matched_road_layer;

    //             ctrl.remove();
    //             ctrl = L.control.layers(baseLayers, overLays);
    //             ctrl.addTo(chengdu_map);
    //         }
    //     )
    // }

</script>